<main>
  <div class="column" id="backlog-column">
    <h2>Backlog</h2>
    <!-- BACKLOG ITEMS GO HERE -->
    <app-card></app-card>
  </div>
  <div class="column" id="todo-column">
    <h2>To Do</h2>
    <!-- TO DO ITEMS GO HERE -->
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="column" id="doing-column">
    <h2>Doing</h2>
    <!-- DOING ITEMS GO HERE -->
    <app-card></app-card>
  </div>
  <div class="column" id="done-column">
    <h2>Done</h2>
    <!-- DONE ITEMS GO HERE -->
    <app-card></app-card>
  </div>
</main>